@import "tailwindcss";
@import "./tagify";
@import "./tagify_custom";

/* カレンダーを横幅いっぱいに広げるようレイアウトを強制的に整える */
.simple-calendar table {
    @apply w-full table-fixed;
}

  .simple-calendar th,
  .simple-calendar td {
    @apply w-[14.28%];
  }

  /* ホーム画面アニメーション */
  @layer components {
    .fade-in-up {
      @apply opacity-0 translate-y-4 transition-all duration-1200 ease-in-out;
    }
    .fade-in-up.show {
      @apply opacity-100 translate-y-0;
    }
  }
