<div class="w-80 bg-white shadow-lg rounded-lg border hover:shadow-2xl">
  <% if notifications.any? %>
    <% notifications.select(&:valid_target?).each do |notification| %>
      <div class="px-4 py-3 border-b text-sm">
        <%= render "notifications/message", notification: notification %>
      </div>
    <% end %>
  <% else %>
    <div class="px-4 py-3 text-gray-500">
      通知はありません
    </div>
  <% end %>
</div>
