<!-- エラーメッセージ(modelで受け取る) -->
<% if model && model.errors.any? %>
  <div class="bg-red-50 border-2 border-red-300 text-red-700 rounded-md py-3 px-4 mb-5">

    <p class="font-semibold">
      入力内容に誤りがあります。(<%= model.errors.count %>件)
    </p>

    <ul class="mt-2 list-disc list-inside text-sm">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
