<footer class="bg-green-700 text-white py-4">
  <div class="flex justify-end space-x-4 mr-8">
    <%= link_to "利用規約", terms_path, class: "text-right" %>
    <%= link_to "お問い合わせ(工事中)", '#', class: "text-right" %>
    <%= link_to "プライバシーポリシー", privacy_path, class: "text-right" %>
  </div>
</footer>
