<footer class="bg-green-700 text-white py-4">
  <div class="flex justify-end space-x-4 mr-8">
    <%= link_to "利用規約", '#', class: "text-right" %>
    <%= link_to "お問い合わせ", '#', class: "text-right" %>
    <%= link_to "プライバシーポリシー", '#', class: "text-right" %>
  </div>
