<div class="flex justify-start ml-10 mb-5">
  <%= link_to "戻る", dashboard_index_path, class: "bg-lime-300 hover:bg-lime-600 text-white font-semibold py-3 px-5 rounded-lg shadow-md transition" %>
</div>
